*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Young Serif', serif;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    font-size: 18px;
}

/* BACKGROUND */
main{
    background: url(images/reading.png);
    background-size: cover;
}

.scrim{
    background: rgba(0, 0, 0, .72);
}
header{
    height: 10vh;
}

/* END BACKGROUND */


/* FOR LAYOUT  */


/* header{
    border: 2px solid blue;
}
section{
    border: 2px solid blue;
}
div{
    border: 2px solid green;
}

body{
    border: 2px solid orange;
}
.side-nav{
    border: 2px solid red;
}

main{
    border: 2px solid red;
} */

/* END LAYOUT */


/* FONTS */

h1{
    font-size: 1.4rem;
}
h2 a{
    color: white;
    font-size: 1rem;
}
h2 a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.title{
    font-size: 1rem;
}
.dates{
    font-size: 1.2rem;
}
.position-title{
    font-size: 1.5rem;
}

/* END FONTS*/


/*SIDE NAV BEGIN*/
.side-nav{
    background: rgba(255, 255, 255, .8);
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    -webkit-transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    -moz-transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}
.show-nav{
    right: 0;
}
.menu-image{
    height: 38px;
    float: right;
    margin-top: 10px;
}

.x{
    height: 38px;
    align-self: flex-end;
    margin-top: 15px;
}
li{
    margin-top: 30%;
}
a{
    display: block;
    color:black;
    font-size: 2rem;
    text-decoration: none;
}
.nav-content{
    width: 100%;
    height: 100%;
    text-align: center;
}
/* SIDE NAV END */


/* CONTACT SECTION */

.contact-info{
    color: white;
    padding: 5%;
    font-family: 'Nunito Sans', sans-serif;
}
.color{
    background: rgba(184, 0, 0);
    display: inline-block;
    /* border-radius: 2px; */
    font-size: 1rem;
    width: 30vw;
    margin-top: 2%;
    text-align: center;

}
/* END CONTACT SECTION */



/* GRID SECTION */
.grid{
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
    margin-left: 5%;
    padding-bottom: 10%;
}
/* .blank{
    width: 50px;
} */
.resume-primary{
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    margin-bottom: 10%;
}
.resume-secondary{
    display: none;
}
/* .section-title{
    margin-bottom: 5%;
} */
/* END GRID SECTION */


/* FOOTER LINKS */
.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.link-container img{
    height: 6vh;
    margin-left: 10px;
    margin-top: 10%; 
}
/* END FOOTER LINKS */


/* CONTACT FORM */
/* .contact-form{
    border: 2px solid teal;
    background: rgba(255, 255, 255, .8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    display: none;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
}
.text-input{
    max-width: 60%;
    margin: 5%;
    margin-bottom: 2%;
    border-radius: 2px;
    border: 1px solid black;
}
input{
    display: block;
    margin-bottom: 20px;
    font-family: 'Fredoka', sans-serif;
    font-size: .8rem;
}
#email-message{
    margin: 5%;
}

button{
    font-family: 'Fredoka', sans-serif;
}
textarea{
    font-family: 'Fredoka', sans-serif;
}
.email-button{
    font-size: .8rem;
}
.submit-button{
    align-self: center;
    margin-left: 5%;
}
 */

/* END CONTACT FORM */
.bullet-points{
    display: none;
}

@media only screen and (max-width: 480px) {

    main{
        background: url(images/reading-mobile.png);
    }

}


@media only screen and (min-width: 480px) {

        /* NAV */
        
        .side-nav{
            right: 0;
            height: 10vh;
            height: 10vh; 
            width: 100%;
            border: none;
        }
        li{
            margin: 0;
            margin-left: 5%
        }
        a{
            font-size: 1.5rem;
        }
        #home-text a{
            font-size: 1.35rem;
        }
        #about-text a{
            font-size: 1.35rem;
        }
        #projects-text a{
            font-size: 1.35rem;
        }
        .nav-content{
            display: flex;
            height: 100%;
            align-items: flex-end;
        }
        .menu-image{
            display: none;
        }
        .x{
            display: none;
        }
        
    /* END NAV */


    /* GRID MEDIA QUERIES */
    .grid{
        grid-template-columns: .9fr .8fr;
        width: 90%;
        gap: 7%;
    }
    .resume-primary{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .resume-secondary{
        display: block;
    }
    .education{
        display: flex;
    }
    .bullet-points{
        display: block;
    }
    /* IMPORTANT */
    .side-nav{
        position: relative;
    }
    .grid{
        margin: 0;
        margin-top: 2%;
    }
    .last-div{
        padding-bottom: 20%;
    }
    
    /* END GRID MEDIA QUERIES */
    
    
    /* CONTACT INFO TEXT */

    .contact-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
        padding: 0;
        position: relative;
    }
    .contact-info h1{
        margin-top: 2%;
    }
    .color{
        margin: 10% 0;
        width: 200px;
    }

    /* END CONTACT INFO TEXT */


    /* TEXT SIZING */
    
    h1{
        font-size: 2.5rem;
    }

    h2 a{
        color: white;
        font-size: 1.8rem;

    }
    .title{
        margin-top: 8%;
    }

    /* END TEXT SIZING */

}
.section-title{
    font-size: 1.9rem;
    margin-top: 5%;
    margin-left: 2%;
}

/* LOSE FOR MOBILE */

@media only screen and (max-width: 490px){

    .title-and-description{
        display: none;
    
    }
    .resume-primary h2{
        font-size: 1.5rem;
    }
    .resume-primary h3{
        font-size: 1rem;
        margin-left: 3%;
    }
}