body{
    background-color: #556B2F;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    border-left: 100px;
    /* border: 2px solid blue; */
    color: white;
    padding-top: 2vw;
    font-size: 48px;
    display: flex;
    margin: 0 auto;
}
.sloth_div{
/* border: 2px solid green; */
margin-top: 3vh;
}
.sloth_div img{
    width: 35vw;
}
.direct_link{
    height: 5vh;
    width: 4vw;
}
footer{
    margin-bottom: 10px;
    margin-top: 3vh;
    display: flex;
    /* border: 2px solid blue; */
    width: 100%;
    align-items: bottom;
    justify-content: center;
}
.linkedin-holder img{
    margin: 0 auto;
    margin-left: 5%;
    /* border: 2px solid green; */
    width: 4vw;
    object-fit: contain;
    margin-top: 3vh;
}
.banner-holder img{
    width: 30vw;
    margin-top: 4%;
}
.logo-holder{
    margin-right: 5%;
}
.logo{
    height: 15vh;
}
@media only screen and (max-width: 500px) { 
    /* FONT ADJUSTMENT */
    .title{
       font-size: 48px; 
    }
    /* END FONT ADJUSTMENTS */
    .sloth_div img{
        width: 60vw;
    }
    .banner-holder img{
        width: 77vw;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    .linkedin-holder img{
        width: 10vw;
        margin-right: 3.5vw;
    }
    .logo-holder{
        margin-left: 3.5vw;
    }
}